
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*     font-size:14px; */
  letter-spacing: -0.2px;
  vertical-align: middle;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
}

#root{
  width:100%;
}
*{
  box-sizing: border-box;
}
/*

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}*/
.between{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.column{
  display:flex;
  flex-direction: column;
}

.text-center{text-align: center; justify-content: center}
.wrap-membership{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 30px;
  color: #1a1a1a;
  box-shadow:rgba(0,0,0,0.2) 0px 0px 2px 0px,rgba(0,0,0,0.12) 0px 12px 24px -4px;
  border-radius: 0.625rem;
  word-wrap: break-word;
  width: 33.33333333%;
  max-width: 452px;
  margin:0 auto;
  background: white;
  @media all and (max-width: 768px){
    width: 66.66666667%;
  }
  .row{
    display: flex;
    margin: 1rem auto;
  }
  .message{margin-top:0.25rem;text-align:right; padding-left: 0.875rem;font-size: 0.75rem; color: indianred;}
}

input[type=checkbox]{
  width: 1.188em;
  height: 1.188em;
  margin-top: 0.156em;
  vertical-align: middle;
  border-radius: 0.25em;
  background-color: #fff;
  border: 1px solid rgb(204, 210, 220);
  -webkit-appearance: none;
  &:checked{
    background-color: royalblue;
    border-color: royalblue;
    color:#fff;
  }
}
.new-member, input[type=checkbox] + label, .forgot-pw{font-size: 0.875rem; }
.mt2{margin-top: 1.5rem !important;}
.mt3{margin-top: 3rem !important;}
.mb0{margin-bottom: 0 !important;}